a,
a:link,
a:visited,
a:focus {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.img-100 {
  width: 100%;
}
.cmm-h-ul > li {
  float: left;
  display: inline-block;
}
img.max-h {
  max-width: 100%;
}
.fs-10 {
  font-size: 10px !important;
}
.fs-11 {
  font-size: 11px !important;
}
.fs-12 {
  font-size: 12px !important;
}
.fs-13 {
  font-size: 13px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-15 {
  font-size: 15px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-17 {
  font-size: 17px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-19 {
  font-size: 19px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-21 {
  font-size: 21px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fs-23 {
  font-size: 23px !important;
}
.fs-24 {
  font-size: 24px !important;
}
.col-lg-1,
.col-md-1,
.col-sm-1,
.col-xs-1 {
  padding: 0;
}
.col-lg-2,
.col-md-2,
.col-sm-2,
.col-xs-2 {
  padding: 0;
}
.col-lg-3,
.col-md-3,
.col-sm-3,
.col-xs-3 {
  padding: 0;
}
.col-lg-4,
.col-md-4,
.col-sm-4,
.col-xs-4 {
  padding: 0;
}
.col-lg-5,
.col-md-5,
.col-sm-5,
.col-xs-5 {
  padding: 0;
}
.col-lg-6,
.col-md-6,
.col-sm-6,
.col-xs-6 {
  padding: 0;
}
.col-lg-7,
.col-md-7,
.col-sm-7,
.col-xs-7 {
  padding: 0;
}
.col-lg-8,
.col-md-8,
.col-sm-8,
.col-xs-8 {
  padding: 0;
}
.col-lg-9,
.col-md-9,
.col-sm-9,
.col-xs-9 {
  padding: 0;
}
.col-lg-10,
.col-md-10,
.col-sm-10,
.col-xs-10 {
  padding: 0;
}
.col-lg-11,
.col-md-11,
.col-sm-11,
.col-xs-11 {
  padding: 0;
}
.col-lg-12,
.col-md-12,
.col-sm-12,
.col-xs-12 {
  padding: 0;
}
.mt5 {
  margin-top: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.ml5 {
  margin-left: 5px;
}
.mr5 {
  margin-right: 5px;
}
.pt5 {
  padding-top: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
.pl5 {
  padding-left: 5px;
}
.pr5 {
  padding-right: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.pt10 {
  padding-top: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.pl10 {
  padding-left: 10px;
}
.pr10 {
  padding-right: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mb15 {
  margin-bottom: 15px;
}
.ml15 {
  margin-left: 15px;
}
.mr15 {
  margin-right: 15px;
}
.pt15 {
  padding-top: 15px;
}
.pb15 {
  padding-bottom: 15px;
}
.pl15 {
  padding-left: 15px;
}
.pr15 {
  padding-right: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml20 {
  margin-left: 20px;
}
.mr20 {
  margin-right: 20px;
}
.pt20 {
  padding-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.pl20 {
  padding-left: 20px;
}
.pr20 {
  padding-right: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mb25 {
  margin-bottom: 25px;
}
.ml25 {
  margin-left: 25px;
}
.mr25 {
  margin-right: 25px;
}
.pt25 {
  padding-top: 25px;
}
.pb25 {
  padding-bottom: 25px;
}
.pl25 {
  padding-left: 25px;
}
.pr25 {
  padding-right: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mb30 {
  margin-bottom: 30px;
}
.ml30 {
  margin-left: 30px;
}
.mr30 {
  margin-right: 30px;
}
.pt30 {
  padding-top: 30px;
}
.pb30 {
  padding-bottom: 30px;
}
.pl30 {
  padding-left: 30px;
}
.pr30 {
  padding-right: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mb35 {
  margin-bottom: 35px;
}
.ml35 {
  margin-left: 35px;
}
.mr35 {
  margin-right: 35px;
}
.pt35 {
  padding-top: 35px;
}
.pb35 {
  padding-bottom: 35px;
}
.pl35 {
  padding-left: 35px;
}
.pr35 {
  padding-right: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mb40 {
  margin-bottom: 40px;
}
.ml40 {
  margin-left: 40px;
}
.mr40 {
  margin-right: 40px;
}
.pt40 {
  padding-top: 40px;
}
.pb40 {
  padding-bottom: 40px;
}
.pl40 {
  padding-left: 40px;
}
.pr40 {
  padding-right: 40px;
}
.container {
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  list-style-image: none;
}
@media (max-width: 800px) {
  .container {
    width: 800px;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
}
@media (min-width: 800px) {
  .container {
    width: 800px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}
.market-class {
  width: 100%;
  margin-top: 40px;
  border: 1px solid #ddd;
}
.wrapper .container .col-sm-1,
.wrapper .container .col-sm-2,
.wrapper .container .col-sm-3,
.wrapper .container .col-sm-4,
.wrapper .container .col-sm-5,
.wrapper .container .col-sm-6,
.wrapper .container .col-sm-7,
.wrapper .container .col-sm-8,
.wrapper .container .col-sm-9,
.wrapper .container .col-sm-10,
.wrapper .container .col-sm-11,
.wrapper .container .col-sm-12 {
  overflow: hidden;
}
.wrapper .container img {
  vertical-align: top;
}
.wrapper .bannerbox {
  padding: 0 15px;
  margin-bottom: 10px;
}
.wrapper .bannerbox .col-sm-1,
.wrapper .bannerbox .col-sm-2,
.wrapper .bannerbox .col-sm-3,
.wrapper .bannerbox .col-sm-4,
.wrapper .bannerbox .col-sm-5,
.wrapper .bannerbox .col-sm-6,
.wrapper .bannerbox .col-sm-7,
.wrapper .bannerbox .col-sm-8,
.wrapper .bannerbox .col-sm-9,
.wrapper .bannerbox .col-sm-10,
.wrapper .bannerbox .col-sm-11,
.wrapper .bannerbox .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}
.wrapper .bannerbox .banner .rob {
  margin: 10px 10px 0 10px;
  background: #fff;
}
.wrapper .bannerbox .banner .rob .col-sm-6 {
  padding: 15px;
}
.wrapper .bannerbox .banner .rob .col-sm-6:first-child {
  padding-right: 0;
}
.wrapper .bannerbox .dynamic .dynamic-min {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .wrapper .bannerbox .menu {
    display: none;
  }
}
.wrapper .activity-door {
  border: 1px solid #ddd;
  margin-bottom: 10px;
}
.wrapper .activity-door .left {
  padding: 10px 10px 10px 25px;
}
.wrapper .activity-door .center {
  text-align: center;
}
.wrapper .activity-door .center .col-sm-6 {
  padding: 0 10px 14px 10px;
}
.wrapper .activity-door .center .col-sm-6:nth-child(3),
.wrapper .activity-door .center .col-sm-6:nth-child(4) {
  padding-bottom: 0;
}
@media screen and (max-width: 768px) {
  .wrapper .activity-door .right {
    display: none;
  }
}
.wrapper .sentiment {
  overflow: hidden;
}
.wrapper .sentiment .title {
  height: 30px;
  background: #fff;
  border-bottom: 1px solid #eee;
}
.wrapper .sentiment .title span {
  font-size: 18px;
  font-weight: 600;
}
.wrapper .sentiment .title span i {
  font-weight: 100;
  color: red;
  font-style: normal;
}
.wrapper .sentiment .title ul {
  float: right;
}
.wrapper .sentiment .title ul li {
  float: left;
  padding: 0 20px;
  line-height: 30px;
  font-size: 15px;
  color: #333;
  font-weight: 600;
  cursor: pointer;
}
.wrapper .sentiment .title ul li.active {
  color: red;
  background: url("http://www.taoee.com/template/20140828/Images/up-index.png") no-repeat center bottom;
}
.wrapper .sentiment .productbox {
  margin-left: -10px;
  margin-right: -10px;
}
.wrapper .sentiment .productbox .product {
  padding: 15px 10px 0;
}
.wrapper .sentiment .productbox .product .picbox {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}
.wrapper .sentiment .productbox .product .picbox img {
  width: 100%;
  vertical-align: top;
}
.wrapper .sentiment .productbox .product .name {
  line-height: 20px;
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 15px;
}
.wrapper .sentiment .productbox .product .msg {
  margin-bottom: 10px;
  border-bottom: 1px dotted #ddd;
}
.wrapper .sentiment .productbox .product .price {
  display: inline-block;
  width: 40%;
  font-size: 14px;
  line-height: 20px;
  color: #ff6699;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.wrapper .sentiment .productbox .product .shopname {
  display: inline-block;
  width: 60%;
  font-size: 14px;
  line-height: 20px;
  color: #656d77;
  text-align: right;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.wrapper .sentiment .productbox .product .shopname:hover {
  color: #ff6600;
  text-decoration: none;
}
.wrapper .market-class .row {
  margin: 0;
}
.productitem:hover .item-content {
  background: #f5f5f5;
  border-color: #000;
  transition: background 0.5s;
  -moz-transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
}
.productitem .item-content {
  border: 1px solid #ddd;
  margin-bottom: 10px;
}
.productitem .item-content dt {
  height: 228px;
  overflow: hidden;
}
.productitem .item-content dt img {
  height: 100%;
}
.productitem .item-content dd {
  margin: 0 9px 9px 9px;
  height: 80px;
}
.productitem .item-content dd .msg {
  margin-top: 5px;
  line-height: 18px;
  color: #666;
}
.productitem .item-content dd .msg .price {
  color: red;
}
.productitem .item-content dd .msg span strong {
  margin: 0 2px;
}
.productitem .item-content dd .name {
  color: #666;
  font-size: 13px;
  line-height: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-top: 5px;
}
.productitem .item-content dd .name:hover {
  color: #ff6600;
  text-decoration: none;
}
.productitem .item-content dd .shopname {
  text-align: right;
  margin-top: 5px;
}
.productitem .item-content dd .shopname a {
  color: #666;
  line-height: 18px;
}
.productitem .item-content dd .shopname a:hover {
  color: #ff6600;
  text-decoration: none;
}
/* 详情页 */
.productdetail .page-title {
  height: 45px;
}
.productdetail .page-title a {
  color: #8C8C8C;
  line-height: 45px;
  margin: 0 10px;
}
.productdetail .page-title a:first-child {
  margin-left: 0;
}
.productdetail .main {
  margin-bottom: 20px;
  /*left*/
  /*center*/
}
.productdetail .main .product-pic {
  /*图片放大镜样式*/
  /*图片小图预览列表*/
}
.productdetail .main .product-pic .jqzoom {
  position: relative;
  cursor: pointer;
  display: block;
  width: 100%;
}
.productdetail .main .product-pic .jqzoom overflow:hidden； img {
  width: 100%;
}
.productdetail .main .product-pic .zoomdiv {
  z-index: 100;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #CCCCCC;
  display: none;
  text-align: center;
  overflow: hidden;
}
.productdetail .main .product-pic .jqZoomPup {
  z-index: 10;
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  border: 1px solid #aaa;
  background: #ffffff /*url(../images/zoom.png) 50% center no-repeat*/;
  opacity: 0.5;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  filter: alpha(opacity=50);
}
.productdetail .main .product-pic .spec-preview {
  width: 100%;
  border: 1px solid #DFDFDF;
}
.productdetail .main .product-pic .spec-scroll {
  clear: both;
  margin-top: 5px;
  width: 100%;
  height: 57px;
}
.productdetail .main .product-pic .spec-scroll .prev {
  float: left;
  margin-right: 4px;
}
.productdetail .main .product-pic .spec-scroll .next {
  float: right;
}
.productdetail .main .product-pic .spec-scroll .prev,
.productdetail .main .product-pic .spec-scroll .next {
  display: block;
  font-family: "宋体";
  text-align: center;
  width: 10px;
  height: 54px;
  line-height: 54px;
  border: 1px solid #CCC;
  background: #EBEBEB;
  cursor: pointer;
  text-decoration: none;
}
.productdetail .main .product-pic .spec-scroll .items {
  float: left;
  position: relative;
  width: 100%;
  height: 57px;
  overflow: hidden;
}
.productdetail .main .product-pic .spec-scroll .items ul {
  position: absolute;
  width: 999999px;
  height: 56px;
}
.productdetail .main .product-pic .spec-scroll .items ul li {
  width: 50px;
  height: 50px;
  margin-right: 4px;
  float: left;
  border: 1px solid #CCC;
  text-align: center;
  overflow: hidden;
}
.productdetail .main .product-pic .spec-scroll .items ul li.active {
  border: 1px solid #FF6600;
}
.productdetail .main .product-pic .spec-scroll .items ul li img {
  width: 100%;
}
.productdetail .main .center .productName {
  font-size: 18px;
  height: 56px;
  color: #404144;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.productdetail .main .center .productPrice {
  height: 90px;
  color: #8a8a8a;
  line-height: 25px;
  padding: 20px;
  background: #fff7f6;
}
.productdetail .main .center .productPrice .item {
  width: 50%;
  font-size: 13px;
  float: left;
}
.productdetail .main .center .productPrice .item span {
  width: 70px;
  display: inline-block;
}
.productdetail .main .center .productPrice .item .fs24 {
  font-size: 24px;
  color: red;
  vertical-align: top;
}
.productdetail .main .center .productPrice .item .loginhou {
  font-weight: 100;
  font-family: "Arial";
}
.productdetail .main .center .productPrice .item .price {
  font-size: 16px;
  color: #999;
  font-weight: bold;
}
.productdetail .main .center .productEvaluateNum {
  height: 36px;
  font-size: 13px;
  line-height: 36px;
  text-align: right;
}
.productdetail .main .center .productEvaluateNum .stars {
  width: 90px;
  height: 36px;
  float: left;
  overflow: hidden;
  position: relative;
}
.productdetail .main .center .productEvaluateNum .stars i {
  width: 65px;
  height: 12px;
  background: url(../images/global.png) no-repeat;
  display: block;
  position: absolute;
  left: 15px;
  top: 12px;
}
.productdetail .main .center .productEvaluateNum .stars i.s0 {
  background-position: -351px -534px;
}
.productdetail .main .center .productEvaluateNum .d-ib {
  float: left;
  display: inline-block;
  margin-right: 10px;
}
.productdetail .main .center .productEvaluateNum a {
  margin-left: 20px;
  color: #ff4640;
}
.productdetail .main .center .productEvaluateNum a.findSame i.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
  background-image: none;
}
.productdetail .main .center .jr-gwc1 {
  position: relative;
}
.productdetail .main .center .jr-gwc1 .goods-choose {
  border-top: 1px solid #ddd;
  width: 100%;
  padding: 15px 0;
  position: relative;
}
/* 相连的3个按钮样式 */
.btn-group.btngroup3 .btn {
  padding: 6px 20px;
  font-size: 12px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  outline: none;
}
.btn-group.btngroup3 .btn.active {
  color: #fff;
  background: red;
  box-shadow: none;
  border-color: red;
}
.slide-box .hd {
  width: 218px;
  background: #fafafa;
}
.slide-box .hd ul h2.title {
  margin: 0 30px;
  line-height: 50px;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
}
.slide-box .hd ul li {
  padding: 0 30px;
  line-height: 43px;
}
.slide-box .hd ul li.on {
  padding-left: 26px;
  border-left: 4px solid #ff0001;
}
.slide-box .hd ul li a {
  color: #656d77;
}
.slide-box .hd ul li a:hover {
  color: #fd9925;
}
.slide-box .bd {
  width: 950px;
}
.slide-box .bd ul h2.title {
  line-height: 50px;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
}
