.footer {
  background: #fff;
  font-size: 13px;
}
@media (max-width: 800px) {
  .footer {
    width: 815px;
  }
}
@media (min-width: 800px) {
  .footer {
    width: 100%;
  }
}
.footer .footer-nav .navs {
  position: relative;
  display: inline-block;
  height: 50px;
  transform: translate(-50%, 0);
  line-height: 1.2;
  left: 50%;
}
.footer .footer-nav .navs ul {
  padding: 17px 0;
  left: 50%;
}
.footer .footer-nav .navs ul li {
  padding: 0 11px;
  border-left: 1px solid #e6e6e6;
}
.footer .footer-nav .navs ul li:first-child {
  border: none;
}
.footer .footer-nav .navs ul li a {
  color: #a4a4a4;
}
.footer .footer-nav .copyright {
  height: 50px;
  color: #919191;
  text-align: center;
}
