.footer-other {
  background: #eee;
}
.footer-other .footer-links {
  height: 110px;
  line-height: 110px;
  background: url(../../images/footer-bg.png) no-repeat right center;
  text-align: center;
}
.footer-other .footer-links a {
  margin-left: 30px;
  padding: 5px 15px;
  color: #444;
  border: 1px solid #444;
}
